@import "modules/choose.component.scss";

table.app-root {
	table-layout: auto;
}

div.order-size-calculator {
	border: 1px solid;
  	border-radius: 5px;
  	padding: 2px;
  	background-color: #EFEFEF;
}

div.choose-components {
	table-layout: auto;
}

/*Variables*/
$mainTextColor: #282727;

/deep/ app-root {
  color: $mainTextColor;
}
