@import "modules/choose.component.scss";
@import "modules/summary.component.scss";

div.order-size-calculator {
	border: 1px solid;
  	border-radius: 5px;
  	padding: 2px;
  	background-color: #11A73B;

	div.choose-components {
		.grid-item {
			position: relative;
			float: left;
		}
	}
}

/*Variables*/
$mainTextColor: #282727;

/deep/ app-root {
  //color: $mainTextColor;
  //color: white;
}
