
/deep/ div.choose-component {
	
	margin: 1px;
	padding: 2px;
	border: 1px dotted;
    border-radius: 8px;
    background-color: white;
    
	
	div.title > * {
    	color: #333333;
    	font-weight: bold;
		margin: 0px;
	}
	
	div.body {
		display:flex;
		
		div.element {
			margin: 5px 10px;
			
			.btn-default {
				.text-muted {
					color: white !important;
				}
				.btn-link {
					color: white !important;
				}
				color: white !important;
				font-weight: bold;
    			background-color: #88C425 !important;
			}
		
			button.polipack-add {
			    appearance: none;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    outline: none;
			    border: 0;
			    background: transparent;
			    padding-top: 10;
			}
		}
	}
}
