
/deep/ div.choose-component {
	
	margin: 1px;
	padding: 2px;
	border: 1px dotted;
    border-radius: 5px;
    background-color: #EFEEEE;
    
	
	div.title > * {
		margin: 0px;
	}
	
	div.body {
		display:flex;
		
		div.element {
			margin: 5px 10px;
		}
		
		.ui-select-container {
		    position: relative !important;
		    display: inline-block !important;
		}
		
		.ui-select-search {
		}
		
		.ui-select-choices.dropdown-menu {
			width: auto !important;
		    padding-left: 10px;
		    margin-left: 10px;
		    position: absolute !important;
		    background-color: #f9f9f9 !important;
		    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
		}
		
		ul.dropdown-menu div {
			display: inline-block;
		}
		
		ul.dropdown-menu li {
		    text-decoration: none;
		    display: block;
		}
		
		.ui-select-choices-row.active a { 
			color: #282727 !important;
			background-color: #f1f1f1 !important;
		}
	}
}
