
/deep/ div.choose-component {
	
	margin: 1px;
	padding: 2px;
	border: 1px dotted;
    border-radius: 5px;
    background-color: #EFEEEE;
    
	
	div.title > * {
		margin: 0px;
	}
	
	div.body {
		display:flex;
		
		div.element {
			margin: 5px 10px;
			button.polipack-add {
			    appearance: none;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    outline: none;
			    border: 0;
			    background: transparent;
			    padding-top: 10;
			}
		}
	}
}
